
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



/* Header */

header {
    width: 100%;
    height: 100%;
    background-image: url('lake.jpg');
    background-position: bottom;
    background-size:cover;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 600px;
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 7vmin;
    color:whitesmoke;
    margin-bottom: -80px;
    text-decoration-color: crimson;
    text-decoration-line:line-through;
    text-decoration-style:double;
    text-decoration-thickness: 2px;

}



/* navigation bar*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar {
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.inactive {
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}

.active {
    color:crimson;
    font-weight: bold;
    font-size: 15px;
}

.Menu {
    color:whitesmoke;
    font-size: 35px;
 }



/*Album*/
.photo-album{
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: rgb(5, 15, 63);
}
.photo-album h2{
    font-size: 30px;
    color: whitesmoke;
    padding: 50px 0 5px 0;
}

.photo-album h3{
    color: whitesmoke;
    font-size: 15px;
    padding: 0 0 100px 0;
    margin-left:auto;
    margin-right: auto;
}

.photo-album p{
    color: whitesmoke;
    font-size: 15px;
    font-style: italic;
}

.photo-album img{
    max-width: 60%;
    max-height: 60%;
    border: black solid;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right: auto;
}




.Name {
    color:rgb(255, 255, 255);
    font-family:Helvetica;
    font-size: 100px;
    background-color: rgba(rgb(172, 41, 41), rgb(2, 36, 2), rgb(0, 0, 54), 0.1);
    padding: 50px;
    padding-left: 100px;
    text-align: center;

}

h2 {
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.contact {
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

p {
    color:hsl(0, 0%, 100%);
    text-align: center;
}

button {
    background-color:darkblue; 
    color:azure;
    
}

.separate {
    padding-bottom: 100px;
}

.break {
    padding-bottom: 50px;
}







.return {
    background-color:darkblue; 
    color:azure;
}


.cat{
    margin-left: 600px;
}

.bottom {
    margin-left: auto;
    margin-right: auto;
}